@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #252837;
    scrollbar-color: #ea7d69 #252837;
}

::selection {
    color: #252837;
    background: #eb7c69;
}

.hide-scrollbar {
    background: transparent;
    scrollbar-color: transparent transparent;
}